@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');

.Cyan {
    height: 700px;
    width: 100%;
    background-color: rgb(198, 255, 255);
    overflow: hidden;

}

h1{
    font-family: Poppins;
    font-weight: 900;
    font-size:122;
    color: rgb(61, 44, 44);
}
h2{
    margin-left: 150px;
    font-weight: 900;
    color: blue;
    padding-top: 13px;
    
}


ul{
    display: flex;
    float: left;
    position: absolute;
  left: 300px;
    top: 20px;
}
li{
    padding-left: 20px;
    marker: none;
    text-align: center;
    padding: 10 px;
}
a{
    text-align: center;
    color: rgb(103, 103, 103);
    text-decoration: none;
    font-weight: 700;
    padding: 6px;
    padding-bottom: 20px;
   
}

.icons{
    position: absolute;
    left: 1300px;
    top:33px;
}
p{
    font-family: Poppins;
    font-weight: 400;
    
}
nav ul li {
    list-style-type: none;
}

.think {
    position: absolute;
    left: 150px;
    top: 150px;
    color: rgb(75, 49, 49);
   
    width: 600px;
    height: 600px;
    
}
button{
    width: 200px;
    height: 40px;
    color: rgb(57, 42, 42);
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    background-color: rgb(255, 230, 198);
    box-shadow:15px solid black;
    border-radius:5px;
    border-color: brown;
}

.particle{
  
    
    position: absolute;

    left: 900px;
    top: 200px;
    
}
.textdivider{
    width: 100px;
    height: 8px;
    position: absolute;
    background-color: brown;
    border-radius: 30px;
}
.textdividercircle{
    width: 10px;
    height: 10px;
    position: absolute;
    left : 110px;
    background-color: brown;
    border-radius: 40px;
}

.uxui{
    width: 100%;
    height: 600px;
}

.ux{
    position: absolute;
    left: 500px;
    top: 900px
    
}
.ux h1{
    text-decoration: dotted;
    color: aqua;
}

.Rectangle{
    position: absolute;
    height: 80px;
    width: 450px;
    background-color: rgb(75, 42, 42);
    top: 930px;
}


.paragaraph{
    width:300px;
    height: 600px;
    position: absolute;
    left: 500px;
    top:1000px;
    margin-top: 10px;
    
}
.paragaraph2{
    width:300px;
    height: 600px;
    position: absolute;
    left: 800px;
    top:1000px;
    margin-top: 10px;
    
}
.paragaraph3{
    width:300px;
    height: 00px;
    position: absolute;
    left: 1100px;
    top:1000px;
    margin-top: 10px;
    
}
.paragaraph p{
    font-size: 12px;
}
.paragaraph2 p{
    font-size: 12px;
}
.paragaraph3 p{
    font-size: 12px;
}
.paragraph3 button{
    color: red;
}
.Photocontainer{
    width: 100%;
    height: auto;
    padding-left: 5px;
 display: flex;

}
.Photocontainer2{
    width: 100%;
    height: auto;
    padding-left: 5px;
 display: flex;

}
.Cont2 {
    
    object-fit: cover;
    
} 

.Strategy{
    width: 100%;
    height: 200px;
    background-color: rgb(33, 27, 27);
    top: 1200;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.Where {
    width: 100%;
    height: 200px;
    background-color: rgb(33, 27, 27);
    top: 1200;
    position: absolute;
    align-items: center;
    justify-content: center;

}
h3{
    margin-top: 80px;
    color: antiquewhite;
    text-align: center;
    font-size: large;
}
.Strategy h1{
    color:rgb(255, 244, 214);
    text-align: center;    
}
.Strategy button {
    position: absolute;
    left: 650px;
}

.planning {
    width: 100%;
    height: 700px;
    
}

.plan h2 {
    position: absolute;
    left: 150px;
    top: 2700px;
    padding-left: 10px;
    color: rgb(65, 65, 65);
   
}
.plan p {
    position: absolute;
    left: 300px;
    top: 2770px;
    padding-left: 10px;
    color: rgb(65, 65, 65);
    width: 200px;
    height:200px;
}

.design h2 {
    position: absolute;
    left: 400px;
    top: 2700px;
    padding-left: 10px;
    color: rgb(65, 65, 65);
}
.design p {
    position: absolute;
    left: 550px;
    top: 2770px;
    padding-left: 10px;
    color: rgb(65, 65, 65);
    width: 200px;
    height:200px;
}
.dev h2 {
    position: absolute;
    left: 650px;
    top: 2700px;
    padding-left: 10px;
    color: rgb(65, 65, 65);
}
.dev p {
    position: absolute;
    left: 800px;
    top: 2770px;
    padding-left: 10px;
    color: rgb(65, 65, 65);
    width: 200px;
    height:200px;
}
.promo h2 {
    position: absolute;
    left: 950px;
    top: 2700px;
    color: rgb(65, 65, 65);
}
.promo p {
    position: absolute;
    left: 1100px;
    top: 2770px;
    padding-left: 10px;
    color: rgb(65, 65, 65);
    width: 200px;
    height:200px;
}

.White{
    width: 100%;
    height: 300px;
}
.Footer{
    width: 100%;
    height: 800px;
    background-color: rgb(50, 39, 39);
}
.parttwo{
    background-color: rgb(32, 25, 25);
}
.parttwo p{
    color: antiquewhite;
    text-align: center;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.smallpart{
    color: antiquewhite;
    margin: 100px;
    padding-left: 150px;
    padding-top: 50px;
    line-height: 0.4;
 
    

}
.smallpart2{
    color: antiquewhite;
    margin: 100px;
    padding-left: 150px;
   position: absolute;
    line-height: 0.4;
    top:4015px;
    left: 300px;   
}
.smallpart3{
    color: antiquewhite;
    margin: 100px;
    padding-left: 150px;
   position: absolute;
    line-height: 0.4;
    top:4015px;
    left: 600px;   
}

.smallpart4{
    color: antiquewhite;
    margin: 100px;
    padding-left: 150px;
   position: absolute;
    line-height: 0.4;
    top:4015px;
    left: 900px;   
}
.pinkline{
    height: 3px;
    width :70px;
    background-color: rgb(255, 0, 93);
}
.smallpart p{
    font-size: 12px;
    font-weight: 200;
}
.smallpart2 p{
    font-size: 12px;
    font-weight: 200;
}
.smallpart3 p{
    font-size: 12px;
    font-weight: 200;
}
.smallpart4 p{
    font-size: 12px;
    font-weight: 200;
}

.whiteline{
    height: 2px;
    width:1150px;
    background-color: antiquewhite;
   opacity: 40%;
    margin-left: 250px;
    
}
.joalefooter h2 {
    color: rgb(255, 155, 24);
    margin-left: 260px;
    font-size: 32px;
}

.joalefooter p{
    color: antiquewhite;
    margin-left: 260px;
    width: 500px;
    font-size: 12px;
}
.joalefooter h4{
    color: antiquewhite;
    margin-left: 860px;
    font-size: 18px;
    position: absolute;
    top: 4440px;   
}
.addres{
    color: antiquewhite;
    margin-left: 600px;
    font-size: 18px;
    position: absolute;
    top: 4540px; 
}

.iconsfoot {
 
    position: absolute;
     top: 4600px; 
     left: 860px;
    width: 500px;
    color: antiquewhite;
    font-size: 45px;
    
}